name: Latest blog post workflow
on: 
    schedule:
        - cron: '50 8,20 * * *'
jobs: 
    update-readme-with-blog: 
        name: Update this repo's README with latest blog posts
        runs-on: ubuntu-latest
        steps: 
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
            - uses: gautamkrishnar/blog-post-workflow@master
              with: 
                max_post_count: "10"
                feed_list: "https://www.funkysi1701.com/index.xml"
